@{
    ViewData["Title"] = "GetAllAccount";
    Layout = "~/Views/UserLayout/Index.cshtml";
}
@using BankofEduTech.Core.Application.Features.Queries.UserAccount.GetAllUserAccountActiveUser
@model List<GetAllAccountQueryResponse>
@if(Model != null && Model.Count > 0)
{
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-7">
            <div class="card">
               
                <div class="card-header">
                    <h4>Hesap Hareketleri</h4>
                    <p>Hesabınızda yapılan tüm hareketler listesi</p>
                </div>
                <div class="card-body">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active"></li>
                            @for (int i = 1; i < Model.Count; i++)
                            {
                                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@i"></li>
                            }


                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/template/assets/images/samples/back.jpg" class="d-block w-100" alt="...">

                                <div class="carousel-caption d-none d-md-block mb-5">
                                    <h1>@Model[0].AccountName</h1>
                                    <h3>@Model[0].AccountBalance</h3><br />

                                    <button class="btn btn-primary" onclick="getActivites(@Model[0].AccountID)">Hesap Hareketleri</button>
                                    <p class="mt-10">Hesap Numarası : @Model[0].AccountNumber</p><button class="btn btn-warning" onclick="copyAccountNumber('@Model[0].AccountNumber')">Kopyala</button>
                                </div>
                            </div>
                            @for (int i = 1; i < Model.Count; i++)
                            {
                                <div class="carousel-item">
                                    <img src="~/template/assets/images/samples/back.jpg" class="d-block w-100" alt="...">

                                    <div class="carousel-caption d-none d-md-block mb-5">
                                        <h1>@Model[i].AccountName</h1>
                                        <h3>@Model[i].AccountBalance</h3><br />

                                        <button class="btn btn-primary" onclick="getActivites(@Model[i].AccountID)">Hesap Hareketleri</button>
                                        <p class="mt-10">Hesap Numarası : @Model[i].AccountNumber</p><button class="btn btn-warning" onclick="copyAccountNumber('@Model[i].AccountNumber')">Kopyala</button>

                                    </div>
                                </div>
                            }

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button"
                           data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button"
                           data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>


                <div id="table">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>İşlem Türü</th>
                                    <th>Tutar</th>
                                    <th>Açıklama</th>
                                    <th>İşlem Tarihi</th>
                                </tr>
                            </thead>
                            <tbody id="table">
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>
}
@if(Model == null || Model.Count == 0)
{
    <div class="row">
        <div class="col-xl-2"></div>
        <div class="col-xl-7">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">

                    <h2>Hesabınız Bulunmamaktadır.</h2>
                </div>
            </div>
        </div>
    </div>
}

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function getActivites(e) {
            console.log(e);
            $.ajax({
                url: '/User/Account/GetAllAccountActivities?accountID=' + e,
                method: 'GET',
                success: function (data) {
                    console.log(data);
                    var tableElement = $('#table tbody');
                    tableElement.empty(); 

                    if (data[0].isSuccess) {
                     
                        $.each(data, function (index, activity) {
                            if(activity.activityType == "Gelen")
                            {
                            var row = '<tr class="table-success">' +
                                '<td>' + activity.activityType + '</td>' +
                                '<td>' + activity.amount + '</td>' +
                                '<td>' + activity.description + '</td>' +
                                '<td>' + activity.activityDate + '</td>' +
                                '</tr>';
                            tableElement.append(row);
                            }

                            else
                            {
                            var row = '<tr class="table-danger">' +
                                '<td>' + activity.activityType + '</td>' +
                                '<td>' + activity.amount + '</td>' +
                                '<td>' + activity.description + '</td>' +
                                '<td>' + activity.activityDate + '</td>' +
                                '</tr>';
                            tableElement.append(row);
                            }
                           
                        });
                    }
                    else 
                    {
                    var row = '<tr>' +
                        '<td colspan="4">Görüntülenecek hareket bulunamadı.</td>' +
                    
                        '</tr>';
                    tableElement.append(row);
                    }
                 
                },
                error: function (err) {
                    console.error('Hata oluştu:', err);
                }
            });
        }


    function copyAccountNumber(e) {
        navigator.clipboard.writeText(e).then(() => {
            Swal.fire({
                title: "Kopyalama başarılı!",
                text: "Hesap numarası panoya kopyalandı!",
                icon: "success"
            });
            
        }).catch(err => {
            console.error('Panoya kopyalama başarısız oldu:', err);
        });
    }

</script>

